{config_load file="test.conf" section="setup"}


<PRE>

{$hello}

<table border=1>
    {include file="table_head.tpl" Nume='Name' Age='Age'}
    {foreach from=$pers item=per}
    {include file="table_head.tpl" Nume=$per->name Age=$per->age}
    {/foreach}
</table>

{include file="new_entry.tpl" Nume=$name Age=$age}
