<form action="lab7.php" method = "POST">
    Name: <input type="text" name="name" value={$Nume}> </br>
    Age: <input type="text" name="age" value={$Age}> </br>
    <button type="submit" name="dd">Save</button>
</form>

