#title_header {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #f1f1f1;
}

#blog_title {
    padding: 0;
    color:#de5a51;
}

#blog_sub_title {
    color:#999;
}

#menu_header {
    border: none;
    background-color: #f1f1f1;
    margin-bottom: 5px;
}

a {
    color:#999;
    text-decoration:none;
}

a:hover {
    color:#444;
}

time {
    color:#de5a51;
}

strong {
    color:#de5a51;
}


figure {
    float:left;
}

iframe {
    float:right;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
}

h4 {
    display: inline;
}

#art_title_id {
    display: inline;
}

header {
    margin: 0;
    padding: 0;
    border-bottom:double #999;
    background-color: #f1f1f1;
}

header > p {
    display: inline;
}

footer > p{
    margin: 0;
    padding: 15px;
    padding-bottom: 25px;
    text-align:center;
    background-color: #f1f1f1;
}

.italic_s {
    font-style:italic;
    color: #999;
}

article {
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#comentarii_header {
    border: none;
}

section {
    border-top: double #999;
    padding-left: 1cm;
}

@media screen and (min-width: 500px){
    .nav a  {
        display:block;
        background: #f1f1f1;
        padding: 10px 10px 10px 10px;
        color: #999;
        position: relative;
    }

    .nav{
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        padding: 0 15 px;
        vertical-align: top; 
        display: inline-block;
    }

    .nav  ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav li {
        position: relative;
    }

    .nav > li {
        float: left;
    }

    .nav li:hover > a {
        color:#999;
        background: #ddd;
    }

    .nav li > a:hover{
        color: #444;
    }

    .nav li a:first-child:nth-last-child(2):before {
        position: absolute; 
        height: 0;
        top: 50% ;
        right:5px;
     }

    .nav ul {
        position: absolute;
        z-index: 1;
        left: -99999em;
    }
    .nav > li:hover > ul {
        left: auto;
        min-width: 100%;
    }

    .nav > li li:hover > ul {
        left: 100%;
        width: 6em;
        margin-left: 0px;
        top: -1px;
    }
}
