#map-canvas {
	height: 75%;
	width: 60%; /*80*/
	top:5%;
	left:10%;
	float:left;
}

#directions-panel {
	height: 80%;
	width: 25%;
	margin-right: 3%;
	float:right;
	overflow: auto;
}


#title {
	width: 50%;
	margin: 0 auto;
	color:black;
	font-size:3em;
}

#showhide {
	position:absolute;
	right: 5%;
	top:90%;
}

#download {
	position:absolute;
	right: 20%;
	top:90%;
}

#marker-name-div {
	position: absolute;
	top:40%;
	right:50%;
	box-shadow: 0px 3px 8px #aaa;
}


html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
