* {
    font-family: Arial;
}

h1 {
    font-family: Verdana;
    color: red;
}

body {
    width: 60%;
    min-width: 400px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top : 4px;
    padding-bottom: 4px;
    display:inline;
}

#menu {
    float:left;
    resize: none;
    background-color: purple;
    left: 0;
    width: 20%;
}

header {
    margin-right:20%;
    background-color: green;
}

article {
    margin-right:20%;
    float:left;
    background-color: yellow;
}


nav a {
  border: 2px solid blue;
  width: 50px;
}

nav a:hover {
  color: #E165B9;
  background-color: blue;
}

footer {
    position: fixed;
    left:20%;
    right:20%;
    bottom: 0;
    background-color: pink;
}

