#culinar{
	border-style: solid;
	margin-left: 20%;
	width: 480px;
	height: 754px;
	color: black;
	overflow:scroll;
}

#tabloid{
	border-style: solid;
	margin-left: 20%;
	width: 480px;
	height: 754px;
	color: black;
	overflow:scroll;
}

#femeiid{
	border-style: solid;
	margin-left: 20%;
	width: 480px;
	height: 754px;
	color: black;
	overflow:scroll;
}